h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

p {
    font: times new roman, serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
}